{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}保定蓝箭橡胶机带有限公司{% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_block "css" %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qqcs.css' %}">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% cms_toolbar %}
    <div class="container-fluid" id="landing">
    </div>
    <div class="container-fluid">
      <div class="navbar navbar-default " id="topnav" role="navigation">
        <div class="navbar-collapse collapse col-md-8 col-md-offset-2">
          <ul class="nav navbar-nav lj-nav">
            {% show_menu 0 1 100 100 "menu.html" %}
          </ul>
        </div>
      </div>
    </div>

<div class="main">

    <div class="container" id="maincontent">
    {% static_placeholder "slider" %}
    <dic class="row">
      <div class="col-md-2 side_menu">
        {% static_placeholder "side_menu" %}
      </div>
      <div class="col-md-10" id="content">
      {% block breadcrumb %}
      <ol class="breadcrumb">
      {%  show_breadcrumb 0 "breadcrumb.html" %}
      </ol>
      {% endblock %}
    {% block content %}
    {% endblock content %}
      </div>
    </dic>

    </div>
    <div class="container" id="visit_info">
        <p>
          <span class="text-info">当前在线人数 {{ online_user }} 人</span>
          <span class="text-success">历史在线人数 {{ total_number }} 人</span>
        </p>
      <!---------------------------------------------------->
      <!-- <h2 class="text-muted">访客信息</h2>           -->
      <!-- <div class="col-md-6">                         -->
      <!--  <table class="table">                         -->
      <!--    <tbody>                                     -->
      <!--      {% for user in recent_users %}            -->
      <!--         <tr>                                   -->
      <!--          <td>{{ user.visit_time }}</td>        -->
      <!--           <td>{{ user.protected_ip }}</td>     -->
      <!--           <td>{{ user.get_real_address }}</td> -->
      <!--         </tr>                                  -->
      <!--      {% endfor %}                              -->
      <!--    </tbody>                                    -->
      <!--    <tfoot>                                     -->
      <!--                                                -->
      <!--    </tfoot>                                    -->
      <!--  </table>                                      -->
      <!--                                                -->
      <!-- </div>                                         -->
      <!---------------------------------------------------->
    </div>

 <div class="container" id="partner">
    <h2 class="text-muted">合作伙伴</h2>
    <div class="partner_logo">
      {% static_placeholder "partner" %}
    </div>
    </div>
<div class="container-fluid" id="footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        河北蓝箭橡胶机带有限公司专业提供<b>尼龙输送带、耐高温输送带、耐热输送带、花纹输送带</b>等产品
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-4">
        <img width="100%" src="{% static 'image/logo.png' %}">
      </div>
      <div class="col-md-4">
         Copyright @ 2015 河北蓝箭橡胶机带有限公司<br/>
         联系电话：0312-8349136(办公室)   0312-6771717（销售部）  传真：0312-8349773（办公室） 0312-6770032（销售部）<br/>
         邮箱：hebeilanjian@126.com <br/>
         联系地址：河北博野橡胶工业区<br/>
         冀ICP备05027928号<br/>
      </div>
    </div>

</div>
</div>
<div id="qq-tools" class="qq-rides-cs">
  <div class="qq-tools-l">
    <a id="qq-tools-show" class="qq-tools-open" title="查看在线客服" style="display:block" href="javascript:void(0);">展开</a>
    <a id="qq-tools-hide" class="qq-tools-close" title="关闭在线客服" style="display:none" href="javascript:void(0);">收缩</a>
  </div>
  <div class="qq-tools-r" style="width: 140px;">
    <div class="cn">
      <h3 class="titZx">在线客服</h3>
      <ul>
        <li><span>客服</span> <a href="tencent://message/?Menu=yes&uin=260851801&Site=csqq"><img border="0" alt="点击这里给我发消息" title="点击这里给我发消息"/></a> </li>
        <li><span>客服</span> <a href="tencent://message/?Menu=yes&uin=3070047023&Site=csqq"><img border="0" alt="点击这里给我发消息" title="点击这里给我发消息"/></a> </li>
        <li style="border:none;"><span>电话：0312 834 9136</span> </li>
      </ul>
    </div>
  </div>
</div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var online = new Array();
    </script>
    <script type= "text/javascript" src="http://webpresence.qq.com/getonline?Type=1&260851801:3070047023:"></script>
    {% render_block "js" %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

  </body>
</html>

