#landing{
    background-image: url(/static/image/top_bj.jpg);
    /*filter:alpha(opacity=30);*/
    /*opacity: 0.4;*/
    background-repeat: no-repeat;
    background-position: center;
    min-height: 146px;
    /*padding-top: 146px;*/
}

#topnav{
    /*background:linear-gradient(#DDF2F3, #FFFFFF 50%, #DDF2F3);*/
    box-shadow: 2px;
    background-color: #428BCA;
    background-image: linear-gradient(to bottom, #428BCA 0px, #357EBD 100%);
    background-repeat: repeat-x;
}

#topnav li a,.nav  li a {
    color: white;
    font-weight: bold;
}

#topnav li.active a{
    color: black;
}

#partner{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#topnav li:hover{
    background-color: #E7E7E7;
    color: black;
}


#maincontent{
    /*background-color: rgba(221, 242, 243, 1.00);*/
    /*min-height: 100%;*/
    /*height: 45554px;*/
    /*padding-bottom: 60px;*/
    /*min-height:80%; 使内容高度和body一样*/
    /*padding-bottom:80px;向上缩减80像素，不至于footer超出屏幕可视范围*/
}
#content {
/*padding-bottom:150px; 这个是关键，处理页面高度超出屏幕可视范围时，控制内容和底部高度之间距离*/
}

#footer {
/*height:80px;*/
/*background-color: rgba(221, 242, 243, 1.00);*/
background-color: #F5F5F5;
padding: 25px;
/*margin-bottom: 25px;*/
}

#footer p{

    /*margin: auto;*/
    text-align: center
}

.side_menu{
    /*background-color: rgba(221, 242, 243, 1.00);*/
    background-image: linear-gradient(to bottom, #428BCA 0px, #357EBD 100%);
    background-repeat: repeat-x;
}

/*.menu_nav>li.disable h2{
    color: black;
}
*/
/*li>a{
    color: white;
    font-weight: bold;
}
*/
.menu_nav>li>a:hover{
    /*background-color:     #63E1E6;*/
}

.menu_nav>li.disable>a:hover{
    background-color: rgba(221, 242, 243, 1.00);
}

.partner_logo .cms_plugin{
    display: block;
    width: 150px;
    /*margin: 0 2px;*/
    float: left;
}

.partner_logo img{
    width:150px;
}
.panel-lj{
    margin: 5px 5px;
    /*min-height: 202px;*/
}


.product_title {
    text-align: center;
}

.product_link:hover{
    text-decoration: none;
}

/*.plugin_picture>img{
    width:100%;
}
*//*.side_info{
    margin-left: 4px;
border-color: #428BCA;
border: 1px solid transparent;
border-color: #428BCA;
margin-top: 5px;
border-radius: 4px;
padding-left: 13px;
}
*//*.menu_nav>li:hover{

}
*/
