{% extends "base.html" %}
{% load sekizai_tags %}

{% block content %}
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">
        {{ object.title }}
    </h3>
</div>
<div class="panel-body">
    <div>
        <img src="{{ object.img.url }}">
    </div>
    <div>
        {% autoescape off %}
        {{ object.description }}
        {% endautoescape %}
    </div>

</div>

</div>

{% endblock %}
{% addtoblock "js" %}
<script type="text/javascript">
    $("#product-{{ object.slug }}").addClass("active");
</script>
{% endaddtoblock %}
