{% extends "base.html" %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/news">新闻列表</a></li>
    <li class="active">{{ object.title }}</li>
</ol>
{% endblock %}
{% block content %}
<div class="news_content">
    <h2 class="title">{{ object.title }}</h2>
    <table class="table table-bordered">
        <tr>
            <th>创建时间</th>
            <td>{{ object.create_time }}</td>
            <th>更新时间</th>
            <td>{{ object.update_time }}</td>
        </tr>
        <tr>
            <th>摘要</th>
            <td>{{ object.abstract }} </td>
        </tr>
    </table>
    <div class="news_main">
    {% autoescape off %}
    {{ object.content }}
    {% endautoescape %}
    </div>

</div>
{% endblock %}
